html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.5;
  background: #F2F2F2;
  color: #323232;
  margin: 0;
}

h1 {
	font-size: 40px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

h2 {
	position: relative;
	background: #323232;
	margin: 0;
	text-transform: uppercase;
	font-size: 18px; 
	padding: 10px;
	color: #fff;
	
}

h2:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 20px;
	height: 100%;
	background: #debd30;
}

h2>i {
	padding: 0 15px 0 10px;
	color: #debd30;
}

h3 {
	background: #debd30;
	margin: 0;
	text-transform: uppercase;
	font-size: 18px; 
	padding: 10px;
}

h3>i {
	padding: 0 15px 0 10px;
}

h4 {
	color: #ccc;
	font-size: 16px;
	margin: 10px;
}

h5{
	font-size: 20px;
	margin: 10px;
}

sup {
	font-size: 12px;
	font-style: italic;
}

.resume-wrap, header, section {
	position: relative;
}

.resume-wrap{
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	max-width: 960px;
	background: #f8f8f8;
	margin: 50px auto;
	padding: 50px;
	box-sizing: border-box;
}

.flex-content {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	
}

.top-line:before{
	position: absolute;
	left: 0;
	top: 50px;
	content: '';
	height: 20px;
	width: 100%;
	background: #debd30;
}

header {
	width: 100%;
	align-items: flex-end;
}

.resume {
	position: absolute;
	top: -2px;
	left: 0;
	text-transform: uppercase;
	padding: 0 10px;
	background: #f8f8f8;
	font-weight: bold;
	font-size: 18px;
}

.avatar {
	padding: 0 20px;
	background: #f8f8f8;
	max-width: 20%;
}

.f-dev {
	color: #debd30;
	text-transform: uppercase;
}

.container {
	width: 100%;
	margin-top: 40px;
}

/*sidebar*/

aside {
	width: 250px;
	background-color: #363932;
}

aside>div>div>ul {
	list-style-type: none;
	color: #f8f8f8;
	padding-left: 30px;
}

aside>div>div>p{
	color: #ccc;
	font-size: 14px;
	padding: 0 30px;
}

.bar{
  position: relative;
  width: 85%;
	height: 5px;
	margin: 10px;
	background: #eeeeee;
}

.bar-inner{
  height: 5px;
  position: absolute;
  background: #debd30;
}

.bar-8 {
	width: 80%;
}

.bar-6 {
	width: 60%;
}

.bar-4 {
	width: 40%;
}
.bar-7 {
	width: 70%;
}

.contacts {
	padding: 0 20px;
	list-style-type: none;
}

.contacts>li>i {
	margin-right: 15px;
	width: 16px;
	height: 16px;
	text-align: center;
	color: #ccc;

}

.contacts>li>a {
	text-decoration: none;
	color: #ccc;
}

.interests {
	text-align: center;
	color: #ccc;
}

/*Main-content*/

.main-content {
	max-width: 580px;
}

.experience>p {
	padding-left: 20px;
}

.experience>p>span {
	font-size: 14px;
}

.language {
	display: flex;
	justify-content: space-between;
}

.language>span {
	font-weight: bold;
	padding: 0 20px;
	text-transform: uppercase;
}

.content {
	margin: 30px 0;

}

.contact {
	display: flex;
	justify-content: space-around;
}

.contact>p>i {
	padding-right: 15px;
}

.blocks {

}


